html{
    background-color: rgb(218, 218, 255);
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 203, 203);
    height: 50px;
    border-radius: 50px;
}
.enlarge li{
    list-style: none;
    text-align: center;
}

   .enlarge a:visited , .enlarge a:link{
    text-decoration: none;
    background-color: rgb(136, 194, 255);
   border:1px solid black;
    margin-bottom: 1px;
    display:block;
    width:100px;
    position: relative;left :660px;
    
   } 
   .enlarge a:hover, .enlarge a:active{
    font-size:15px;
   }
   .section{
    background-color: rgb(255, 255, 197);
   
   }
.left{
    font-size: 170%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.change span{
    opacity: 20%;
}
.change span:hover{
    opacity:100%;
}
a{
    text-decoration:none ;
}
#question{
    font-weight: bolder;
}
